.eShop-header{
    background-color: #343a40;
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 22px;
  font-weight: 800;  
  color: #000000;     
  cursor: pointer;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.actions{
  display: flex;
  gap: 15px;
}

.cart{
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.btn{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.actions .btn:hover{
  background-color: #0056b3;
}

