<footer class="footer">

    <div class="footer-container">
        <div class="footer-col brand">
            <h3 logo>eShop</h3>
            <p>Your one-stop shop for all your needs.</p>
            
            <div class="socials">
                <i class="icon">f</i>
                <i class="icon">t</i>
                <i class="icon">i</i>
                <i class="icon">y</i>
            </div>
        </div>

        <div class="footer-col">
            <h4>Quick Links</h4>
            <ul>
                <!-- <li *ngFor ="let link of quicklinks">
                    <a [routerLink]="link.path">{{ link.display }}</a>
                </li> -->
            </ul>
        </div>

        <div class="footer-col">
            <h4>Customer Service</h4>
            <ul>
                <!-- <li *ngFor ="let link of customerservice">
                    <a [routerLink]="link.path">{{ link.display }}</a>
                </li> -->
            </ul>
        </div>

        <div class="footer-col">
            <h4>Stay conected to us</h4>
            <p>Subscribe to our newsletter for the latest updates and offers.</p>

            <div class="newsletter-input">
                <input type="email" placeholder="Enter your email" />
                <button type="submit">Subscribe</button>
            </div>

            <span class="email">support@eShop.com</span>
        </div>

    </div>

</footer>